sanic==21.3.2
psycopg2-binary
peewee-async
aiopg
peewee
jinja2
pycryptodome
websockets
sanic-jwt==1.6.0
fpdf
aio-pika
aiohttp
dijkstar
exrex
treelib
shortuuid
ujson
dynaconf==3.1.4
asyncpg
redis

